﻿<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>little parsley | @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Sage 200 developments" name="description" />
  
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/Content/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
    <link href="/Content/css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="/Content/css/style-metro.css" rel="stylesheet" type="text/css"/>
    <link href="/Content/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/Content/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" />               
    <link href="/Content/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/Content/plugins/bxslider/jquery.bxslider.css" rel="stylesheet" />          
    <link rel="stylesheet" href="/Content/plugins/revolution_slider/css/rs-style.css" media="screen">
    <link rel="stylesheet" href="/Content/plugins/revolution_slider/rs-plugin/css/settings.css" media="screen">                
    <link href="/Content/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <link href="/Content/css/themes/green.css" rel="stylesheet" type="text/css" id="style_color"/>    
      @RenderSection("css", required: false)

    <link rel="shortcut icon" href="/favicon.ico" />
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body>
	 

    <!-- BEGIN HEADER -->
    <div class="front-header">
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
				
                    <!-- BEGIN LOGO (you can use logo image instead of text)-->
                    <a class="brand logo-v1" href="@Url.Action("index","Home")">
                        <img src="/Content/img/logo.png" id="logoimg" alt="logo">
                    </a>
                    <!-- END LOGO -->

                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <!-- END RESPONSIVE MENU TOGGLER -->

                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class='@(ViewBag.Title == "Home" ? "active" : "" )'><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li class='@(ViewBag.Title == "About" ? "active" : "" )'><a href="@Url.Action("About","Home")">About Us</a></li>
                           
                                              
                            <li class="dropdown" @(ViewBag.Title == "Products" ? "active" : "" )>
                                <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="@Url.Action("Index","Product")">
                                    Spice rack
                                    <i class="icon-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    
                                    <li><a href="#">Dill</a></li>
                                    <li><a href="#">Rosemary</a></li>
                                    <li><a href="#">Basil</a></li>
                                    <li><a href="#">Coriander</a></li>
                                </ul>
                            </li>
                            
                            <li class='@(ViewBag.Title == "Blog" ? "active" : "" )'><a href="@Url.Action("Index","Blog")">Blog</a></li>
                            <li class='@(ViewBag.Title == "Contact" ? "active" : "" )'><a href="@Url.Action("Contact","Home")">Contact</a></li>
                           
                        </ul>
                                         
                    </div>
                    <!-- BEGIN TOP NAVIGATION MENU -->
                </div>
            </div>
        </div>                   
    </div>
    <!-- END HEADER -->
   

    <!-- BEGIN CONTAINER -->   
   
          @RenderBody()    
       
   
    <!-- END CONTAINER -->

    <!-- BEGIN FOOTER -->
    <div class="front-footer">
        <div class="container">
            <div class="row-fluid">
                <div class="span4 space-mobile">
                    <!-- BEGIN ABOUT -->                    
                    <h2>About</h2>
                    <p class="margin-bottom-30">little parsley specialises in producing high quality Sage 200 Addons.</p>
                    <div class="clearfix"></div>                    
                    <!-- END ABOUT -->          

                                              
                </div>
                <div class="span4 space-mobile">
                    <!-- BEGIN CONTACTS -->                                    
                    <h2>Contact Us</h2>
                    <address class="margin-bottom-40">
                        Bury St Edmunds <br />
                        Suffolk<br/>
                      
                        Email: <a href="mailto:info@littleparsley.com">info@littleparsley.com</a>                        
                    </address>
                    <!-- END CONTACTS -->                                    

                    <!-- BEGIN SUBSCRIBE -->                                    
                    <h2>Monthly Newsletter</h2>  
                    <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                    <form action="#" class="form-search">
                        <div class="input-append">
                            <input style="background:#fff;" class="m-wrap" type="text"><button class="btn theme-btn" type="button">SUBSCRIBE</button>
                        </div>
                    </form>
                    <!-- END SUBSCRIBE -->                                    
                </div>
                <div class="span4">
                    <!-- BEGIN TWITTER BLOCK -->                                                    
                    <h2>Latest Tweets</h2>
                    <dl class="dl-horizontal f-twitter">
                        <dt><i class="icon-twitter"></i></dt>
                        <dd>
                            <a href="#">keenthemes</a>
                            Imperdiet condimentum diam dolor lorem sit consectetur adipiscing
                            <span>3 min ago</span>
                        </dd>
                    </dl>                    
                    <dl class="dl-horizontal f-twitter">
                        <dt><i class="icon-twitter"></i></dt>
                        <dd>
                            <a href="#">keenthemes</a>
                            Sequat ipsum dolor onec eget orci fermentum condimentum lorem sit consectetur adipiscing
                            <span>8 min ago</span>
                        </dd>
                    </dl>                    
                    <dl class="dl-horizontal f-twitter">
                        <dt><i class="icon-twitter"></i></dt>
                        <dd>
                            <a href="#">keenthemes</a>
                            Remonde sequat ipsum dolor lorem sit consectetur adipiscing
                            <span>12 min ago</span>
                        </dd>
                    </dl>                    
                    <dl class="dl-horizontal f-twitter">
                        <dt><i class="icon-twitter"></i></dt>
                        <dd>
                            <a href="#">keenthemes</a>
                            Pilsum dolor lorem sit consectetur adipiscing orem sequat
                            <span>16 min ago</span>
                        </dd>
                    </dl>                    
                    <!-- END TWITTER BLOCK -->                                                                        
                </div>
            </div>
        </div>
    </div>
    <!-- END FOOTER -->

    <!-- BEGIN COPYRIGHT -->
    <div class="front-copyright">
        <div class="container">
            <div class="row-fluid">
                <div class="span8">
                    <p>
                        <span class="margin-right-10">2013 © little parsley. ALL Rights Reserved.</span> 
                        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                    </p>
                </div>
                <div class="span4">
                    <ul class="social-footer">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-google-plus"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-skype"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                        <li><a href="#"><i class="icon-youtube"></i></a></li>
                        <li><a href="#"><i class="icon-dropbox"></i></a></li>
                    </ul>                
                </div>
            </div>
        </div>
    </div>
    <!-- END COPYRIGHT -->

    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
   
  
 
  <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <script src="/Content/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="/Content/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Content/plugins/back-to-top.js"></script>    
    <script type="text/javascript" src="/Content/plugins/bxslider/jquery.bxslider.js"></script>
    <script type="text/javascript" src="/Content/plugins/fancybox/source/jquery.fancybox.pack.js"></script>    
    <script type="text/javascript" src="/Content/plugins/hover-dropdown.js"></script>
    <script type="text/javascript" src="/Content/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="/Content/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script> 
    <!--[if lt IE 9]>
    <script src="/Content/plugins/respond.min.js"></script>  
    <![endif]-->   
    <!-- END CORE PLUGINS -->   
     
      @RenderSection("scripts", required: false)
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
    
             
        
     