﻿@{
    ViewBag.Title = "Products";
}

 <!-- BEGIN BREADCRUMBS -->   
    <div class="row-fluid breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="span4">
                <h1>Products</h1>
            </div>
            <div class="span8">
                <ul class="pull-right breadcrumb">
                    <li><a href="@Url.Action("Index","Home")">Home</a> <span class="divider">/</span></li>
                    <li class="active">Products</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END BREADCRUMBS -->


    <!-- BEGIN CONTAINER -->   
    <div class="container min-hight">
        <!-- BEGIN FILTER -->           
        <div class="filter-v1 margin-bottom-40">
            <ul class="filter-category">
                <li class="filter" data-filter="all">All</li>
                <li class="filter" data-filter="category_1">Sage Addons</li>
                <li class="filter" data-filter="category_2">Web Apps</li>
               
            </ul>
            <ul class="grid-v1 thumbnails">
                <li class="span6 mix category_1">
                    <img src="/Content/img/works/img1.jpg" alt="">
                    <div class="hover-portfolio">
                        <h2>Web App</h2>
                        <p>We have a basic web app that allows you to interact with Sage</p>
                        <a class="hover-portfolio-rgt fancybox-button" href="/Content/img/works/img1.jpg" title="Project Name" data-rel="fancybox-button"><i class="icon-search"></i></a>                            
                        <a class="hover-portfolio-lft"><i class="icon-link"></i></a>
                    </div>
                </li>
                <li class="span6 mix category_2">
                    <img src="/Content/img/works/img2.jpg" alt="">
                    <div class="hover-portfolio">
                        <h2>Cascusamus et iusto odio</h2>
                        <p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
                        <a class="hover-portfolio-rgt fancybox-button" href="/Content/img/works/img2.jpg" title="Project Name" data-rel="fancybox-button"><i class="icon-link"></i></a>
                        <a class="hover-portfolio-rgt"><i class="icon-search"></i></a>                            
                    </div>
                </li>
                <li class="span6 mix category_3">
                    <img src="/Content/img/works/img2.jpg" alt="">
                    <div class="hover-portfolio">
                        <h2>Cascusamus et iusto odio</h2>
                        <p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
                        <a class="hover-portfolio-lft"><i class="icon-link"></i></a>
                        <a class="hover-portfolio-rgt fancybox-button" href="/Content/img/works/img2.jpg" title="Project Name" data-rel="fancybox-button"><i class="icon-search"></i></a>                            
                    </div>                    
                </li>
                <li class="span6 mix category_1 category_2">
                    <img src="/Content/img/works/img4.jpg" alt="">
                    <div class="hover-portfolio">
                        <h2>Cascusamus et iusto odio</h2>
                        <p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
                        <a class="hover-portfolio-lft"><i class="icon-link"></i></a>
                        <a class="hover-portfolio-rgt fancybox-button" href="/Content/img/works/img4.jpg" title="Project Name" data-rel="fancybox-button"><i class="icon-search"></i></a>                            
                    </div>                    
                </li>
                <li class="span6 mix category_2 category_1">
                    <img src="/Content/img/works/img5.jpg" alt="">
                    <div class="hover-portfolio">
                        <h2>Cascusamus et iusto odio</h2>
                        <p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
                        <a class="hover-portfolio-lft"><i class="icon-link"></i></a>
                        <a class="hover-portfolio-rgt fancybox-button" href="/Content/img/works/img5.jpg" title="Project Name" data-rel="fancybox-button"><i class="icon-search"></i></a>                            
                    </div>                    
                </li>
                <li class="span6 mix category_1 category_2">
                    <img src="/Content/img/works/img6.jpg" alt="">
                    <div class="hover-portfolio">
                        <h2>Cascusamus et iusto odio</h2>
                        <p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
                        <a class="hover-portfolio-lft"><i class="icon-link"></i></a>
                        <a class="hover-portfolio-rgt fancybox-button" href="/Content/img/works/img6.jpg" title="Project Name" data-rel="fancybox-button"><i class="icon-search"></i></a>                            
                    </div>                    
                </li>
                <li class="span6 mix category_2 category_3">
                    <img src="/Content/img/works/img1.jpg" alt="">
                    <div class="hover-portfolio">
                        <h2>Cascusamus et iusto odio</h2>
                        <p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
                        <a class="hover-portfolio-lft"><i class="icon-link"></i></a>
                        <a class="hover-portfolio-rgt fancybox-button" href="/Content/img/works/img1.jpg" title="Project Name" data-rel="fancybox-button"><i class="icon-search"></i></a>                            
                    </div>                    
                </li>
            </ul>
        </div>
        <!-- END FILTER -->           
    </div>
<!-- END CONTAINER -->

@section css
{
      <link href="/Content/css/pages/portfolio.css" rel="stylesheet" type="text/css"/>

}

@section scripts
{
     <script src="/Content/plugins/jquery.mixitup.min.js"></script>
     <script src="/Content/scripts/app.js"></script>         
     <script type="text/javascript">
         jQuery(document).ready(function() {
             App.init();
             App.gridOption1();
         });
    </script>
}