﻿@{
    ViewBag.Title = "About";
    
}


 <!-- BEGIN BREADCRUMBS -->   
    <div class="row-fluid breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="span4">
                <h1>About Little Parsley</h1>
            </div>
            <div class="span8">
                <ul class="pull-right breadcrumb">
                    <li><a href="@Url.Action("Index","Home")">Home</a> <span class="divider">/</span></li>
                  <li class="active">About Us</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END BREADCRUMBS -->
<!-- BEGIN CONTAINER -->   
<div class="container min-hight">
    <!-- BEGIN ABOUT INFO -->   
    <div class="row-fluid margin-bottom-30">
        <!-- BEGIN INFO BLOCK -->               
        <div class="span7 space-mobile">
            <h2>Development</h2>
            <p>We have a great knowledge of Sage 200. We do not ship product before they are ready.</p> 
            <!-- BEGIN LISTS -->
            <div class="row-fluid front-lists-v1">
                <div class="span6">
                    <ul class="unstyled margin-bottom-20">
                        <li><i class="icon-ok"></i> Easy to install</li>
                        <li><i class="icon-ok"></i> Adding productivity</li>
                        <li><i class="icon-ok"></i> Unit tested</li>
                    </ul>
                </div>
                <div class="span6">
                    <ul class="unstyled">
                        <li><i class="icon-ok"></i> Simple and intuative to use</li>
                        <li><i class="icon-ok"></i> World class product </li>
                        <li><i class="icon-ok"></i> Great advice</li>
                    </ul>
                </div>
            </div>
            <!-- END LISTS -->
        </div>
        <!-- END INFO BLOCK -->   

        <!-- BEGIN CAROUSEL -->            
        <div class="span5 front-carousel">
            <div id="myCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item">
                        <img src="/Content/img/pics/img2-medium.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Excepturi sint occaecati cupiditate non provident</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/Content/img/pics/img1-medium.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Ducimus qui blanditiis praesentium voluptatum</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/Content/img/pics/img2-medium.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Ut non libero consectetur adipiscing elit magna</p>
                        </div>
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                    <i class="icon-angle-left"></i>
                </a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                    <i class="icon-angle-right"></i>
                </a>
            </div>                
        </div>
        <!-- END CAROUSEL -->             
    </div>
    <!-- END ABOUT INFO -->   

  

    <!-- BEGIN OUR TEAM -->
    <div class="row-fluid front-team">
        <ul class="thumbnails">
            <li class="span3 space-mobile">
                <img src="/Content/img/people/img2-large.jpg" alt="">
                <h3>
                    <a>Mark O'Grady</a> 
                    <small>Software developer</small>
                </h3>
                <p>Mark has been developing many type of Sage applications and has a good working understanding of business process.</p>
                <ul class="social-icons social-icons-color">
                  <li><a href="#" data-original-title="Linkedin" class="linkedin"></a></li>
                </ul>
            </li>
          
        </ul>            
    </div>
    <!-- END OUR TEAM -->
</div>

