﻿@model Lp.Site.Models.Home.ContactModel

@{
    ViewBag.Title = "Contact";
}

   <!-- BEGIN BREADCRUMBS -->   
    <div class="row-fluid breadcrumbs">
        <div class="container">
            <div class="span4">
                <h1>Contact Little Parsley</h1>
            </div>
            <div class="span8">
                <ul class="pull-right breadcrumb">
                    <li><a href="@Url.Action("Contact","Home")">Home</a> <span class="divider">/</span></li>
                   
                    <li class="active">Contact Us</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END BREADCRUMBS -->

    <!-- BEGIN GOOGLE MAP -->
    <div class="row-fluid">
        <div id="map" class="gmaps margin-bottom-40" style="height:400px;"></div>
    </div>
    <!-- END GOOGLE MAP -->

    <!-- BEGIN CONTAINER -->   
    <div class="container min-hight">
        <div class="row-fluid">
            <div class="span9">
                <h2>Contact Form</h2>
                <p>If you have any interesting ideas that need developing or you would like advice, please get in contact.</p>
                <div class="space20"></div>
                <!-- BEGIN FORM-->
              @using (Html.BeginForm())
              {
                  @Html.ValidationSummary()
                  <div class="control-group">
                      <label class="control-label">Name</label>
                      <div class="controls">
                        @Html.TextBoxFor(m => m.Name)
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" >Email <span class="color-red">*</span></label>
                      <div class="controls">
                          @Html.TextBoxFor(m=>m.EmailAddress)
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" >Message</label>
                      <div class="controls">
                          @Html.TextAreaFor(m => m.Message)
                      </div>
                  </div>
                  <button type="submit" class="btn theme-btn"><i class="icon-ok"></i> Send</button>
                 
              } 
                <!-- END FORM-->                  
            </div>

            <div class="span3">
                <h2>Our Contacts</h2>
                <address>
                    <strong>Little Parsley</strong><br>
                    Bury St Edmunds<br>
                    
                    <abbr title="Phone">P:</abbr> (07879) 775 840
                </address>
                <address>
                    <strong>Email</strong><br>
                    <a href="mailto:#">info@littleparsley.com</a><br>
                </address>
                <ul class="social-icons margin-bottom-10">
                    <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                    <li><a href="#" data-original-title="linkedin" class="social_linkedin"></a></li>
                </ul>

                <div class="clearfix margin-bottom-30"></div>

                                           
            </div>            
        </div>
    </div>
    <!-- END CONTAINER -->
@section scripts
{
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
    <script src="/Content/plugins/gmaps/gmaps.js" type="text/javascript"></script>
    <script src="/Content/scripts/contact-us.js"></script>  
    <script src="/Content/scripts/app.js"></script>      
    <script>
        jQuery(document).ready(function() {    
           App.init();
           ContactUs.init();
        });
    </script> 
}