﻿@model Lp.Site.Models.Home.IndexModel

<!-- BEGIN REVOLUTION SLIDER -->
<div class="fullwidthbanner-container slider-main margin-bottom-10">
    <div class="fullwidthabnner">
        <ul id="revolutionul" style="display: none;">
            <!-- THE FIRST SLIDE -->
            @foreach (var slide in Model.Slides)
            {
                <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="@slide.ThumbUrl">

                    <img src="@slide.BackgroundUrl" alt="">

                    @foreach (var slideElement in slide.SlideElements)
                    {
                        
                        <div class="caption lft slide_title slide_item_left"
                data-x="@slideElement.DataX"
                data-y="@slideElement.DataY"
                data-speed="@slideElement.DataSpeed"
                data-start="@slideElement.DataStart"
                data-easing="@slideElement.DataEasing">
                            @slideElement.Caption
                        </div>
                    }
                </li>
            }


            @*   
            <div class="caption lft slide_subtitle slide_item_left"
                data-x="0"
                data-y="180"
                data-speed="400"
                data-start="2000"
                data-easing="easeOutExpo">
                This is what you were looking for
            </div>
            <div class="caption lft slide_desc slide_item_left"
                data-x="0"
                data-y="220"
                data-speed="400"
                data-start="2500"
                data-easing="easeOutExpo">
                Lorem ipsum dolor sit amet, dolore eiusmod<br>
                quis tempor incididunt. Sed unde omnis iste.
            </div>
            <a class="caption lft btn green slide_btn slide_item_left" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"
                data-x="0"
                data-y="290"
                data-speed="400"
                data-start="3000"
                data-easing="easeOutExpo">Purchase Now!
            </a>
            <div class="caption lfb"
                data-x="640"
                data-y="55"
                data-speed="700"
                data-start="1000"
                data-easing="easeOutExpo">
                <img src="/Content/img/sliders/revolution/man-winner.png" alt="Image 1">
            </div>
            </li>*@

            <!-- THE SECOND SLIDE -->
            @*  <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-delay="9400" data-thumb="/Content/img/sliders/revolution/thumbs/thumb2.jpg">
                <img src="/Content/img/sliders/revolution/bg2.jpg" alt="">
                <div class="caption lfl slide_title slide_item_left"
                    data-x="0"
                    data-y="145"
                    data-speed="400"
                    data-start="3500"
                    data-easing="easeOutExpo">
                    Powerfull & Clean
                </div>
                <div class="caption lfl slide_subtitle slide_item_left"
                    data-x="0"
                    data-y="200"
                    data-speed="400"
                    data-start="4000"
                    data-easing="easeOutExpo">
                    Responsive Admin & Website Theme
                </div>
                <div class="caption lfl slide_desc slide_item_left"
                    data-x="0"
                    data-y="245"
                    data-speed="400"
                    data-start="4500"
                    data-easing="easeOutExpo">
                    Lorem ipsum dolor sit amet, consectetuer elit sed diam<br>
                    nonummy amet euismod dolore.
                </div>
                <div class="caption lfr slide_item_right"
                    data-x="635"
                    data-y="105"
                    data-speed="1200"
                    data-start="1500"
                    data-easing="easeOutBack">
                    <img src="/Content/img/sliders/revolution/mac.png" alt="Image 1">
                </div>
                <div class="caption lfr slide_item_right"
                    data-x="580"
                    data-y="245"
                    data-speed="1200"
                    data-start="2000"
                    data-easing="easeOutBack">
                    <img src="/Content/img/sliders/revolution/ipad.png" alt="Image 1">
                </div>
                <div class="caption lfr slide_item_right"
                    data-x="735"
                    data-y="290"
                    data-speed="1200"
                    data-start="2500"
                    data-easing="easeOutBack">
                    <img src="/Content/img/sliders/revolution/iphone.png" alt="Image 1">
                </div>
                <div class="caption lfr slide_item_right"
                    data-x="835"
                    data-y="230"
                    data-speed="1200"
                    data-start="3000"
                    data-easing="easeOutBack">
                    <img src="/Content/img/sliders/revolution/macbook.png" alt="Image 1">
                </div>
                <div class="caption lft slide_item_right"
                    data-x="865"
                    data-y="45"
                    data-speed="500"
                    data-start="5000"
                    data-easing="easeOutBack">
                    <img src="/Content/img/sliders/revolution/hint1-blue.png" id="rev-hint1" alt="Image 1">
                </div>
                <div class="caption lfb slide_item_right"
                    data-x="355"
                    data-y="355"
                    data-speed="500"
                    data-start="5500"
                    data-easing="easeOutBack">
                    <img src="/Content/img/sliders/revolution/hint2-blue.png" id="rev-hint2" alt="Image 1">
                </div>

            </li>

            <!-- THE THIRD SLIDE -->
            <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="/Content/img/sliders/revolution/thumbs/thumb2.jpg">
                <img src="/Content/img/sliders/revolution/bg3.jpg" alt="">
                <div class="caption lfl slide_item_left"
                    data-x="20"
                    data-y="95"
                    data-speed="400"
                    data-start="1500"
                    data-easing="easeOutBack">
                    <iframe src="http://player.vimeo.com/video/56974716?portrait=0" width="420" height="240" style="border: 0" allowfullscreen></iframe>
                </div>
                <div class="caption lfr slide_title"
                    data-x="470"
                    data-y="120"
                    data-speed="400"
                    data-start="2000"
                    data-easing="easeOutExpo">
                    Responsive Video Support
                </div>
                <div class="caption lfr slide_subtitle"
                    data-x="470"
                    data-y="170"
                    data-speed="400"
                    data-start="2500"
                    data-easing="easeOutExpo">
                    Youtube, Vimeo and others.
                </div>
                <div class="caption lfr slide_desc"
                    data-x="470"
                    data-y="220"
                    data-speed="400"
                    data-start="3000"
                    data-easing="easeOutExpo">
                    Lorem ipsum dolor sit amet, consectetuer elit sed diam<br>
                    nonummy amet euismod dolore.
                </div>
                <a class="caption lfr btn yellow slide_btn" href=""
                    data-x="470"
                    data-y="280"
                    data-speed="400"
                    data-start="3500"
                    data-easing="easeOutExpo">Watch more Videos!
                </a>
            </li>

            <!-- THE FORTH SLIDE -->
            <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="/Content/img/sliders/revolution/thumbs/thumb2.jpg">
                <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                <img src="/Content/img/sliders/revolution/bg4.jpg" alt="">
                <div class="caption lft slide_title"
                    data-x="0"
                    data-y="125"
                    data-speed="400"
                    data-start="1500"
                    data-easing="easeOutExpo">
                    What else included ?
                </div>
                <div class="caption lft slide_subtitle"
                    data-x="0"
                    data-y="180"
                    data-speed="400"
                    data-start="2000"
                    data-easing="easeOutExpo">
                    The Most Complete Admin Theme
                </div>
                <div class="caption lft slide_desc"
                    data-x="0"
                    data-y="225"
                    data-speed="400"
                    data-start="2500"
                    data-easing="easeOutExpo">
                    Lorem ipsum dolor sit amet, consectetuer elit sed diam<br>
                    nonummy amet euismod dolore.
                </div>
                <a class="caption lft slide_btn btn red slide_item_left" href="http://www.keenthemes.com/preview/index.php?theme=metronic_admin" target="_blank"
                    data-x="0"
                    data-y="300"
                    data-speed="400"
                    data-start="3000"
                    data-easing="easeOutExpo">Learn More!
                </a>
                <div class="caption lft start"
                    data-x="670"
                    data-y="55"
                    data-speed="400"
                    data-start="2000"
                    data-easing="easeOutBack">
                    <img src="/Content/img/sliders/revolution/iphone_left.png" alt="Image 2">
                </div>

                <div class="caption lft start"
                    data-x="850"
                    data-y="55"
                    data-speed="400"
                    data-start="2400"
                    data-easing="easeOutBack">
                    <img src="/Content/img/sliders/revolution/iphone_right.png" alt="Image 3">
                </div>
            </li>*@
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
</div>
<!-- END REVOLUTION SLIDER -->

<!-- BEGIN CONTAINER -->
<div class="container">
    <!-- BEGIN SERVICE BOX -->
    <div class="row-fluid service-box">
        <div class="span4">
            <div class="service-box-heading">
                <em><i class="icon-location-arrow blue"></i></em>
                <span>Sage 200 integrated Addons</span>
            </div>
            <p>We have a lot of experince with developing for Sage 200. We create products that are intuative and easy to use.</p>
        </div>
        <div class="span4">
            <div class="service-box-heading">
                <em><i class="icon-ok red"></i></em>
                <span>Latest technologies</span>
            </div>
            <p>We utilise the latest technologies to give you the best solution available on the market.</p>
        </div>
        <div class="span4">
            <div class="service-box-heading">
                <em><i class="icon-resize-small green"></i></em>
                <span>Bespoke development</span>
            </div>
            <p>We offer fantastic support.</p>
        </div>
    </div>
    <!-- END SERVICE BOX -->

    <!-- BEGIN BLOCKQUOTE BLOCK -->
    <div class="row-fluid quote-v1">
        <div class="span9 quote-v1-inner">
            <span>Check out our catalogue of products</span>
        </div>
        <div class="span3 quote-v1-inner text-right">
            <a class="btn-transparent" href="@Url.Action("Index", "Product")"><i class="icon-rocket margin-right-10"></i>Sage 200 Addons</a>

        </div>
    </div>
    <!-- END BLOCKQUOTE BLOCK -->

    <div class="clearfix"></div>

    <!-- BEGIN RECENT WORKS -->
    <div class="row-fluid recent-work margin-bottom-40">
        <div class="span3">
            <h2><a href="@Url.Action("Index", "Product")">Addons</a></h2>
            <p>We have developed simple to install addons for a variety of industries</p>
        </div>
        <div class="span9">
            <ul class="bxslider">
                @foreach (var product in Model.ProductItems)
                {
                    <li>
                        <em>
                            <img src="@product.MainImageUrl" alt="" />
                            <a href="@Url.Action("Details", "Product", new { id = product.ProductId })"><i class="icon-link icon-hover icon-hover-1"></i></a>
                            <a href="@product.MainImageUrl" class="fancybox-button" title="Project Name #1" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
                        </em>
                        <a class="bxslider-block" href="#">
                            <strong>@product.ProductName</strong>
                            <b>@product.ProductTagline</b>
                        </a>
                    </li>
                }
                @*<li>
						<em>
							<img src="/Content/img/works/img2.jpg" alt="" />
							<a href="portfolio_item.html"><i class="icon-link icon-hover icon-hover-1"></i></a>
							<a href="/Content/img/works/img2.jpg" class="fancybox-button" title="Project Name #2" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
						</em>
						<a class="bxslider-block" href="#">
							<strong>Amazing Project</strong>
							<b>Agenda corp.</b>
						</a>
					</li>
					<li>
						<em>
							<img src="/Content/img/works/img3.jpg" alt="" />
							<a href="portfolio_item.html"><i class="icon-link icon-hover icon-hover-1"></i></a>
							<a href="/Content/img/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
						</em>
						<a class="bxslider-block" href="#">
							<strong>Amazing Project</strong>
							<b>Agenda corp.</b>
						</a>
					</li>
					<li>
						<em>
							<img src="/Content/img/works/img4.jpg" alt="" />
							<a href="portfolio_item.html"><i class="icon-link icon-hover icon-hover-1"></i></a>
							<a href="/Content/img/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
						</em>
						<a class="bxslider-block" href="#">
							<strong>Amazing Project</strong>
							<b>Agenda corp.</b>
						</a>
					</li>
					<li>
						<em>
							<img src="/Content/img/works/img5.jpg" alt="" />
							<a href="portfolio_item.html"><i class="icon-link icon-hover icon-hover-1"></i></a>
							<a href="/Content/img/works/img5.jpg" class="fancybox-button" title="Project Name #5" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
						</em>
						<a class="bxslider-block" href="#">
							<strong>Amazing Project</strong>
							<b>Agenda corp.</b>
						</a>
					</li>
					<li>
						<em>
							<img src="/Content/img/works/img6.jpg" alt="" />
							<a href="portfolio_item.html"><i class="icon-link icon-hover icon-hover-1"></i></a>
							<a href="/Content/img/works/img6.jpg" class="fancybox-button" title="Project Name #6" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
						</em>
						<a class="bxslider-block" href="#">
							<strong>Amazing Project</strong>
							<b>Agenda corp.</b>
						</a>
					</li>
					<li>
						<em>
							<img src="/Content/img/works/img3.jpg" alt="" />
							<a href="portfolio_item.html"><i class="icon-link icon-hover icon-hover-1"></i></a>
							<a href="/Content/img/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
						</em>
						<a class="bxslider-block" href="#">
							<strong>Amazing Project</strong>
							<b>Agenda corp.</b>
						</a>
					</li>
					<li>
						<em>
							<img src="/Content/img/works/img4.jpg" alt="" />
							<a href="portfolio_item.html"><i class="icon-link icon-hover icon-hover-1"></i></a>
							<a href="/Content/img/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
						</em>
						<a class="bxslider-block" href="#">
							<strong>Amazing Project</strong>
							<b>Agenda corp.</b>
						</a>
					</li>*@
            </ul>
        </div>
    </div>
    <!-- END RECENT WORKS -->

    <div class="clearfix"></div>



    <!-- BEGIN STEPS -->
    <div class="row-fluid no-space-steps margin-bottom-40">
        <div class="span4 front-steps front-step-one">
            <h2>Plan and Analyse</h2>
            <p>Obtain the requirements and specifications of the user.</p>
        </div>
        <div class="span4 front-steps front-step-two">
            <h2>Develop</h2>
            <p>Leverage the latest technologies to produce high quality applications</p>
        </div>
        <div class="span4 front-steps front-step-three">
            <h2>Implementation</h2>
            <p>Test, train and improve.</p>
        </div>
    </div>
    <!-- END STEPS -->


</div>
<!-- END CONTAINER -->


@section Scripts
{

    <script src="/Content/scripts/app.js"></script>
    <script src="/Content/scripts/index.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            App.initBxSlider();
            Index.initRevolutionSlider();
        });
    </script>
}
