﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models



<!-- BEGIN BREADCRUMBS -->
<div class="row-fluid breadcrumbs margin-bottom-40">
    <div class="container">
        <div class="span4">
            <h1>Portfolio 2 Column</h1>
        </div>
        <div class="span8">
            <ul class="pull-right breadcrumb">
                @foreach (var node in Model)
                { 
                    <li><a href="@node.Action">@node.Title</a> <span class="divider">/</span></li>
                    

                                               if (node != Model.Last())
                                               {
                    <text> &gt; </text>
                                               }
                }
                @*<li><a href="index.html">Home</a> <span class="divider">/</span></li>
                <li><a href="">Pages</a> <span class="divider">/</span></li>
                <li class="active">Products</li>*@
            </ul>
        </div>
    </div>
</div>
<!-- END BREADCRUMBS -->

