 /***
Portfolio
***/
/*Portfolio Filter*/
.filter-v1 .filter-category {
	list-style: none;
	margin:0 0 35px 0;
}

.filter-v1 .filter-category li {
	color: #555;
	cursor: pointer;
	padding: 6px 15px;
	margin-right: 2px;
	margin-bottom: 5px;
	background: #fafafa;
	display: inline-block;
}

.filter-v1 .filter-category li:hover,
.filter-v1 .filter-category li.active {
	color: #fff;
	background: #79b93e;
}

.filter-v1 .grid-v1 .mix {
	opacity: 0;
	display: none;
}

/*Portfolio Hover*/
.grid-v1 li {
	position: relative;
	overflow: hidden;
}

.grid-v1 li .hover-portfolio {
	color: #fff;
	width: 100%;
	height: 50%;
	bottom: -100%;
	text-align: center;
	position: absolute;
	background: #79b93e;
}

.grid-v1 li .hover-portfolio.hover-portfolio-small,
.grid-v1 li .hover-portfolio.hover-portfolio-medium {
	height: 100%;
}

.grid-v1 li:hover .hover-portfolio {
	bottom: 0;
	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;	
}

.grid-v1 li .hover-portfolio h2 {
	color: #fff;
	padding: 0 20px;	
	margin-top: 30px;
}

.grid-v1 li .hover-portfolio p {
	padding: 0 30px;
}

.grid-v1 li .hover-portfolio i {
	color: #fff;
	font-size: 14px;
}

.grid-v1 li a.hover-portfolio-lft, 
.grid-v1 li a.hover-portfolio-rgt {
	color: #555;
	display: block;
	cursor: pointer;
	margin-top: 20px; 
	position: absolute;
	padding: 10px 15px;
	background: #37cf4f;
}

.grid-v1 li a.hover-portfolio-rgt {
	left: 50%;
	margin-left: 5px;
}

.grid-v1 li a.hover-portfolio-lft {
	right: 50%;
	margin-right: 5px;
}

.grid-v1 li a.hover-portfolio-lft:hover,
.grid-v1 li a.hover-portfolio-rgt:hover {
	color: #fff;
	padding: 9px 14px;
	text-decoration: none;
	border: solid 1px #eee;
}

 /* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	.grid-v1 li .hover-portfolio.hover-portfolio-medium h2 {
		font-size: 16px;
	}		

	.grid-v1 li .hover-portfolio.hover-portfolio-small h2,
	.grid-v1 li .hover-portfolio.hover-portfolio-medium p {
		display: none;
	}

	.grid-v1 li .hover-portfolio.hover-portfolio-small a {
		top: 50%;
		margin-top: -1.2em;
	}
}

 /* Portrait tablet to landscape and desktop */
@media (min-width: 240px) and (max-width: 1170px) { 
	.grid-v1 li .hover-portfolio {
		top: 100%;
		height: 100%;
	}

	.grid-v1 li:hover .hover-portfolio {
		top: 0;
	}		
}

 /* Desktop to tablet */
@media (min-width: 980px) and (max-width: 1170px) { 
	/*BEGIN PORTFOLIO*/
	.grid-v1 li .hover-portfolio.hover-portfolio-medium p {
		display: none;
	}
}

 /* Portrait tablet to phone */
@media (max-width: 350px) { 
	.grid-v1 li .hover-portfolio.hover-portfolio-medium p {
		display: none;
	}
}
