﻿@{
    ViewBag.Title = "Blog";
}

 <!-- BEGIN BREADCRUMBS -->   
    <div class="row-fluid breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="span4">
                <h1>Blog Page</h1>
            </div>
            <div class="span8">
                <ul class="pull-right breadcrumb">
                    <li><a href="@Url.Action("Index","Home")">Home</a> <span class="divider">/</span></li>
                    <li class="active">Blog</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END BREADCRUMBS -->

    <!-- BEGIN CONTAINER -->   
    <div class="container min-hight">
        <!-- BEGIN BLOG -->
        <div class="row-fluid">
            <!-- BEGIN LEFT SIDEBAR -->            
            <div class="span9 blog-posts margin-bottom-40">
                <div class="row-fluid">
                    <div class="span4">
                        <!-- BEGIN CAROUSEL -->            
                        <div class="front-carousel">
                            <div id="myCarousel" class="carousel slide">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item">
                                        <img src="/Content/img/works/img1.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="/Content/img/works/img2.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="/Content/img/works/img3.jpg" alt="">
                                    </div>
                                </div>
                                <!-- Carousel nav -->
                                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                                    <i class="icon-angle-left"></i>
                                </a>
                                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                                    <i class="icon-angle-right"></i>
                                </a>
                            </div>                
                        </div>
                        <!-- END CAROUSEL -->             
                    </div>
                    <div class="span8">
                        <h2><a href="blog_item.html">Corrupti quos dolores etquas</a></h2>
                        <ul class="blog-info">
                            <li><i class="icon-calendar"></i> 25/07/2013</li>
                            <li><i class="icon-comments"></i> 17</li>
                            <li><i class="icon-tags"></i> Metronic, Keenthemes, UI Design</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing condimentum eleifend enim a feugiat.</p>
                        <a class="more" href="blog_item.html">Read more <i class="icon-angle-right"></i></a>
                    </div>
                </div>
                <hr class="blog-post-sep">
                <div class="row-fluid">
                    <div class="span4">
                        <img src="/Content/img/works/img4.jpg" alt="">
                    </div>
                    <div class="span8">
                        <h2><a href="blog_item.html">Corrupti quos dolores etquas</a></h2>
                        <ul class="blog-info">
                            <li><i class="icon-calendar"></i> 25/07/2013</li>
                            <li><i class="icon-comments"></i> 17</li>
                            <li><i class="icon-tags"></i> Metronic, Keenthemes, UI Design</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing condimentum eleifend enim a feugiat.</p>
                        <a class="more" href="blog_item.html">Read more <i class="icon-angle-right"></i></a>
                    </div>
                </div>
                <hr class="blog-post-sep">
                <div class="row-fluid">
                    <div class="span4">
                        <!-- BEGIN VIDEO -->   
                        <iframe src="http://player.vimeo.com/video/56974716?portrait=0" height="205" style="width:100%; border:0" allowFullScreen></iframe>
                        <!-- END VIDEO -->   
                    </div>
                    <div class="span8">
                        <h2><a href="blog_item.html">Corrupti quos dolores etquas</a></h2>
                        <ul class="blog-info">
                            <li><i class="icon-calendar"></i> 25/07/2013</li>
                            <li><i class="icon-comments"></i> 17</li>
                            <li><i class="icon-tags"></i> Metronic, Keenthemes, UI Design</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing condimentum eleifend enim a feugiat.</p>
                        <a class="more" href="blog_item.html">Read more <i class="icon-angle-right"></i></a>
                    </div>
                </div>
                <hr class="blog-post-sep">
                <div class="row-fluid">
                    <div class="span4">
                        <img src="/Content/img/works/img2.jpg" alt="">
                    </div>
                    <div class="span8">
                        <h2><a href="#">Corrupti quos dolores etquas</a></h2>
                        <ul class="blog-info">
                            <li><i class="icon-calendar"></i> 25/07/2013</li>
                            <li><i class="icon-comments"></i> 17</li>
                            <li><i class="icon-tags"></i> Metronic, Keenthemes, UI Design</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing condimentum eleifend enim a feugiat.</p>
                        <a class="more" href="blog_item.html">Read more <i class="icon-angle-right"></i></a>
                    </div>
                </div>
                <div class="pagination pagination-centered">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>                
            </div>
            <!-- END LEFT SIDEBAR -->

            <!-- BEGIN RIGHT SIDEBAR -->            
            <div class="span3 blog-sidebar">
                <!-- BEGIN RECENT NEWS -->                            
                <h2>Recent News</h2>
                <div class="recent-news margin-bottom-10">
                    <div class="row-fluid margin-bottom-10">
                        <div class="span3">
                            <img src="/Content/img/people/img2-large.jpg" alt="">                        
                        </div>
                        <div class="span9 recent-news-inner">
                            <h3><a href="#">Letiusto gnissimos</a></h3>
                            <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
                        </div>                        
                    </div>
                    <div class="row-fluid margin-bottom-10">
                        <div class="span3">
                            <img src="/Content/img/people/img1-large.jpg" alt="">                        
                        </div>
                        <div class="span9 recent-news-inner">
                            <h3><a href="#">Deiusto anissimos</a></h3>
                            <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
                        </div>                        
                    </div>
                    <div class="row-fluid margin-bottom-10">
                        <div class="span3">
                            <img src="/Content/img/people/img3-large.jpg" alt="">                        
                        </div>
                        <div class="span9 recent-news-inner">
                            <h3><a href="#">Tesiusto baissimos</a></h3>
                            <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
                        </div>                        
                    </div>
                </div>
                <!-- END RECENT NEWS -->                            

                <!-- BEGIN BLOG TALKS -->
                <div class="blog-talks margin-bottom-30">
                    <h2>Popular Talks</h2>
                    <div class="tab-style-1">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab-1" data-toggle="tab">Multipurpose</a></li>
                            <li><a href="#tab-2" data-toggle="tab">Documented</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane row-fluid fade in active" id="tab-1">
                                <p class="margin-bottom-10">Raw denim you probably haven't heard of them jean shorts Austin. eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p>
                                <p><a href="#" class="read-more">Read more</a></p>
                            </div>
                            <div class="tab-pane fade" id="tab-2">
                                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. aliquip jean shorts ullamco ad vinyl aesthetic magna delectus mollit. Keytar helvetica VHS salvia..</p>
                            </div>
                        </div>
                    </div>
                </div>                            
                <!-- END BLOG TALKS -->

              

                <!-- BEGIN BLOG TAGS -->
                <div class="blog-tags margin-bottom-20">
                    <h2>Tags</h2>
                    <ul>
                        <li><a href="#"><i class="icon-tags"></i>OS</a></li>
                        <li><a href="#"><i class="icon-tags"></i>Metronic</a></li>
                        <li><a href="#"><i class="icon-tags"></i>Dell</a></li>
                        <li><a href="#"><i class="icon-tags"></i>Conquer</a></li>
                        <li><a href="#"><i class="icon-tags"></i>MS</a></li>
                        <li><a href="#"><i class="icon-tags"></i>Google</a></li>
                        <li><a href="#"><i class="icon-tags"></i>Keenthemes</a></li>
                        <li><a href="#"><i class="icon-tags"></i>Twitter</a></li>
                    </ul>
                </div>
                <!-- END BLOG TAGS -->
            </div>
            <!-- END RIGHT SIDEBAR -->            
        </div>
        <!-- END BEGIN BLOG -->
    </div>
    <!-- END CONTAINER -->